extends layout-detalle

block content
    .container
        .row
            .col-md-12
                #encabezado_lista
                        img#img-encabezado-transmi(src= "/images/Iter.png")
                        span#servicios-txt-estacion Servicios
        .row
            .col-md-12
                #filtrador.row
                        a#boton-filtrar(href="#" class="btn btn-warning" role="button") Filtrar
                        input#filtrar-servicio(type="text", name="filtrarservicio" placeholder="Nombre del servicio")
                        
        .row
            .col-md-12
                #lista-servicios