extends layout-detalle

block content
    .container
        .row
            .col-md-12
                #encabezado_lista
                    .image-logo
                        img#img-transmi(src= "/images/transmi-logo.png")
                        span#txt-estacion Estacion Av. El Dorado
        .row
            .col-md-12
                #lista-servicios