extends layout

block content
  .image-logo
    img#img-transmi(src= "/images/transmi-logo.png")
    span#txt-estacion Estacion Av. El Dorado
  .container
    .row
      .col-md-12
        #content-transmi
          #content-contador
            .container
              .row
                .col-md-2
                  .titulo-servicio-contador Servicio
                .col-md-2
                  #imagen-servicio-contador
                    #txt-servicio-contador.txt-servicio B1
                .col-md-8
                  .titulo-servicio-texto
                    p Numero de pasajeros en el servicio:
              .row
                .col-md-12
                  #contador-pasajeros 50
          #content-incentivo
              .container
                .row
                  .col-md-8
                    .titulo-servicio-incentivo
                      p Gracias por hacer la fila para el
                  .col-md-4
                    #imagen-servicio-incentivo
                      #incentivo-servicio.txt-servicio B1
                .row
                  .col-md-8
                    .incentivo-texto Bonificación:
                  .col-md-4
                    #incentivo-txt-bonificacion +100
                .row
                  .col-md-8
                    .incentivo-texto Nuevo Saldo:
                  .col-md-4
                    #incentivo-txt-total 2100
          #content-info-general
            .container
              .row.item-info
                .col-md-2
                  .titulo-servicio-info Servicio
                .col-md-2
                  #imagen-servicio-general1
                    #txt-servicio-general1.txt-servicio B1
                .col-md-8
                  .info-texto
                    | Se encuentra a
                    span#distancia-general1.distancia-bus  x cuadras (x minutos)
                    |  y tiene una ocupacion de
                    span#pasajeros-general1.pasajeros-bus  x pasajeros
              .row.item-info
                .col-md-2
                  .titulo-servicio-info Servicio
                .col-md-2
                  #imagen-servicio-general2
                    #txt-servicio-general2.txt-servicio B1
                .col-md-8
                  .info-texto
                    | Se encuentra a
                    span#distancia-general2.distancia-bus  x cuadras (x minutos)
                    |  y tiene una ocupacion de
                    span#pasajeros-general2.pasajeros-bus  x pasajeros
                  
                

             
              


  
  
