extends layout-inicio

block content
    .container
        .row
            .col-xs-12
                #imagen-portada
                    img#img-portada-transmi(src= "/images/logo-portada-transmi.png")
        .row
            .col-xs-12
                select#estacion-buscador.form-control
                    option(value="" disabled selected) Elige una estacion de transmilenio
                    option(value="Heroes") Heroes
                    option(value="Calle 85") calle 85
                    option(value="Virrey") Virrey
                    option(value="Calle 100") Calle 100
                    option(value="Calle 106") Calle 106
                    option(value="Pepe Sierra") Pepe Sierra
                    option(value="Calle 127") Calle 127
                    option(value="Prado") Prado
                    option(value="Alcalá") Alcalá
                    option(value="Calle 142") Calle 142
                    option(value="Calle 146") Calle 146
        .row
            .col-xs-12
                a#boton-redireccionar-servicios(href="#" class="btn btn-warning" role="button") Verificar servicios