body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#img-transmi{
height: auto; 
    width: auto; 
    max-width: 6em; 
    max-height: 6em;
}

.image-logo{
  background-color: rgb(216,16,45);
  margin-bottom: 3em;
  padding-left: 2em
}

#txt-estacion{
  margin-left: 5%;
  font-size: 2.3em;
  color: white
}

#imagen-servicio-contador{
    width:8em;
    height:8em;
    background:blue;
    border: 0.2em solid white;
    border-radius: 1.5em;
    float: left;
    margin-right: 4.5%
}

.txt-servicio{
  color: white;
  text-align: center;
  padding-top: 25%;
  padding-bottom: 25%;
  font-weight: bold;
  font-size: 3em;
}

.titulo-servicio-contador{
  font-size: 3em;
  padding: 4.5%;
    float: left

}

.titulo-servicio-texto{
  font-size: 3em;
  padding-top: 1.5%;
    
}

#contador-pasajeros{
  font-size: 18em;
  text-align: center;
}

.titulo-servicio-incentivo{
  font-size: 2.5em;
  margin-top: 5%;
  margin-right: 2%;
  float: left
}

#imagen-servicio-incentivo{
     width:8em;
    height:8em;
    background:blue;
    border: 0.2em solid white;
    border-radius: 1.5em;
    margin-right: 4.5%;
    float: left
}

.incentivo-texto{
  margin-top: 5%;
  font-size: 5em;
  float: left
}

#incentivo-txt-bonificacion{
  margin: 5%;
  font-size: 5em;
  color: green;
  float: left
}

#incentivo-txt-total{
  margin: 5%;
  font-size: 5em;
    margin-left: 5%;
  color: #191975;
  float: left
}

.item-info{
  margin-top: 2em 
}

.titulo-servicio-info{
  margin-top: 5%;
  font-size: 2.7em;
  float: left
}

.info-texto{
  font-size: 2.4em;
}

.distancia-bus, .pasajeros-bus{
  color: blue
}

#imagen-servicio-general1{
     width:8em;
    height:8em;
    margin-left: 4%;
    margin-bottom: 4%;
    background:blue;
    border: 0.2em solid white;
    border-radius: 1.5em;
    margin-right: 4.5%;
    float: left
}

#imagen-servicio-general2{
     width:8em;
    height:8em;
    margin-left: 4%;
    margin-bottom: 4%;
    background:blue;
    border: 0.2em solid white;
    border-radius: 1.5em;
    margin-right: 4.5%;
    float: left
}


button.funciones{
  font-size: 3em;
  margin: 0.5em
}