body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#img-transmi{
height: auto; 
    width: auto; 
    max-width: 6em; 
    max-height: 6em;
}

.image-logo{
  background-color: rgb(216,16,45);
  margin-bottom: 3em;
  padding-left: 2em
}

#txt-estacion{
  margin-left: 5%;
  font-size: 1.5em;
  color: white
}

#imagen-servicio-contador{
    width:6em;
    height:6em;
    background:blue;
    border: 0.2em solid white;
    border-radius: 1.5em;
    float: left;
    margin-right: 4.5%
}

.txt-servicio{
  color: white;
  text-align: center;
  padding-top: 25%;
  padding-bottom: 25%;
  font-weight: bold;
  font-size: 2.5em;
}

.titulo-servicio-contador{
  font-size: 2.5em;
  padding: 4.5%;
    float: left

}

.titulo-servicio-texto{
  font-size: 2.5em;
  padding-top: 1.5%;
    
}

#contador-pasajeros{
  margin-top: 10%;
  font-size: 15em;
  text-align: center;
}

.titulo-servicio-incentivo{
  font-size: 3.1em;
  margin-top: 3%;
  margin-bottom: 3%;
}

#imagen-servicio-incentivo{
    width:8em;
    height:8em;
    background:blue;
    border: 0.2em solid white;
    border-radius: 1.5em;
}

.incentivo-texto{
  margin-top: 15%;
  font-size: 8em;
}

#incentivo-txt-bonificacion{
  margin-top: 30%;
  font-size: 8em;
  color: green;
}

#incentivo-txt-total{
  margin-top: 30%;
  font-size: 8em;
  color: #191975;
}

.item-info{
  margin-top: 10em 
}

.titulo-servicio-info{
  margin-top: 10%;
  font-size: 3.5em;
}

.info-texto{
  font-size: 4em;
}

.distancia-bus, .pasajeros-bus{
  color: #191975
}

button.funciones{
  font-size: 3em;
  margin: 0.5em
}

#imagen-servicio-general1{
    width:8em;
    height:8em;
    background:#191975;
    border: 0.2em solid white;
    border-radius: 1.5em;
}

#imagen-servicio-general2{
    width:8em;
    height:8em;
    background:#191975;
    border: 0.2em solid white;
    border-radius: 1.5em;
}