body{
    background-color: rgb(237,237,237)
}

#img-encabezado-transmi{
    
}

#imagen-portada{
    margin-top: 7em;
    min-width: 7em;
}

#img-portada-transmi{
    display: block;
    margin: 2em auto;
    max-width: 11em; 
    max-height: 11em;
}

#estacion-buscador{
    width: 80%;
    display: block;
    margin: 2em auto;
}

#boton-redireccionar-servicios{
    width: 80%;
    display: block;
    margin: 2em auto;
    font-weight: bold;
    font-size: 1.5em
}