body{
    background-color: #990000
}

#imagen-portada{
    margin-top: 5em;
    min-width: 5em;
}

#img-portada-transmi{
    display: block;
    margin: 0 auto;
    max-width: 8em; 
    max-height: 8em;
}

#estacion-buscador{
    margin-top: 5em;
}

#boton-redireccionar-servicios{
    margin-top: 3em;
    width: 100%
}